[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/daxesh10
[access "refs/for/refs/*"]
	read = group user/daxesh10
	push = group user/daxesh10
	label-Code-Review = -2..+2 group user/daxesh10
	label-Verified = -1..+1 group user/daxesh10
	rebase = group user/daxesh10
	removeReviewer = group user/daxesh10
	submit = group user/daxesh10
[access "refs/heads/*"]
	read = group user/daxesh10
	create = group user/daxesh10
	push = +force group user/daxesh10
	pushMerge = group user/daxesh10
[access "refs/tags/*"]
	push = +force group user/daxesh10
	pushTag = group user/daxesh10
	pushSignedTag = group user/daxesh10
